# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
df = pd.read_csv('output_data/city_data.csv').drop(columns='Unnamed: 0')
df.head()

,city,lat,lng,temp,humidity,wind,cloudiness,country,date
0,port hardy,50.6996,-127.4199,51.80,87,3.44,75,CA,Mon Apr 26 19:30:15 2021
1,lebu,-37.6167,-73.6500,53.38,88,9.53,26,CL,Mon Apr 26 19:29:42 2021
2,punta arenas,-53.1500,-70.9167,42.80,100,3.44,90,CL,Mon Apr 26 19:35:01 2021
3,kahului,20.8947,-156.4700,80.60,61,9.22,40,US,Mon Apr 26 19:34:45 2021
4,ushuaia,-54.8000,-68.3000,42.80,81,2.30,75,AR,Mon Apr 26 19:26:13 2021

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
gmaps.configure(api_key=g_key)

loc = df[['lat','lng']]
humidity = df.humidity

fig = gmaps.figure(center=(10.0,-5.0),zoom_level=2)
heat_layer=gmaps.heatmap_layer(loc,weights=humidity,dissipating=False,max_intensity=300,point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [31]:
df.city.count()

546

In [33]:
df = df.dropna()

In [34]:
df.city.count()

542

In [39]:
hotel_df = df[(df.temp<80)&(df.temp>70)&(df.wind<10)&(df.cloudiness==0)].copy()
hotel_df

,city,lat,lng,temp,humidity,wind,cloudiness,country,date
116,carnarvon,-24.8667,113.6333,78.80,47,3.44,0,AU,Mon Apr 26 19:30:58 2021
120,buraydah,26.3260,43.9750,75.20,53,6.91,0,SA,Mon Apr 26 19:36:04 2021
137,belmonte,-15.8631,-38.8828,75.20,78,5.75,0,BR,Mon Apr 26 19:36:12 2021
474,muborak,39.2553,65.1528,73.56,33,7.83,0,UZ,Mon Apr 26 19:39:31 2021
489,ipixuna,-1.7625,-48.8043,78.80,83,2.30,0,BR,Mon Apr 26 19:36:51 2021

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [40]:
hotel_df['Hotel Name'] = ''

In [42]:
hotel_df.head()

,city,lat,lng,temp,humidity,wind,cloudiness,country,date,Hotel Name
116,carnarvon,-24.8667,113.6333,78.80,47,3.44,0,AU,Mon Apr 26 19:30:58 2021,
120,buraydah,26.3260,43.9750,75.20,53,6.91,0,SA,Mon Apr 26 19:36:04 2021,
137,belmonte,-15.8631,-38.8828,75.20,78,5.75,0,BR,Mon Apr 26 19:36:12 2021,
474,muborak,39.2553,65.1528,73.56,33,7.83,0,UZ,Mon Apr 26 19:39:31 2021,
489,ipixuna,-1.7625,-48.8043,78.80,83,2.30,0,BR,Mon Apr 26 19:36:51 2021,

In [45]:
params={
    'radius':5000,
    'types':'lodging',
    'key':g_key
}

for i,row in hotel_df.iterrows():
    
    url='https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    params['location'] = f'{row.lat}, {row.lng}'
    res = requests

city                         carnarvon
lat                           -24.8667
lng                            113.633
temp                              78.8
humidity                            47
wind                              3.44
cloudiness                           0
country                             AU
date          Mon Apr 26 19:30:58 2021
Hotel Name
Name: 116, dtype: object
city                          buraydah
lat                             26.326
lng                             43.975
temp                              75.2
humidity                            53
wind                              6.91
cloudiness                           0
country                             SA
date          Mon Apr 26 19:36:04 2021
Hotel Name
Name: 120, dtype: object
city                          belmonte
lat                           -15.8631
lng                           -38.8828
temp                              75.2
humidity                            78
wind                              5.75
cloudiness                           0
country                             BR
date          Mon Apr 26 19:36:12 2021
Hotel Name
Name: 137, dtype: object
city                           muborak
lat                            39.2553
lng                            65.1528
temp                             73.56
humidity                            33
wind                              7.83
cloudiness                           0
country                             UZ
date          Mon Apr 26 19:39:31 2021
Hotel Name
Name: 474, dtype: object
city                           ipixuna
lat                            -1.7625
lng                           -48.8043
temp                              78.8
humidity                            83
wind                               2.3
cloudiness                           0
country                             BR
date          Mon Apr 26 19:36:51 2021
Hotel Name
Name: 489, dtype: object

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure